<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="camiones.css"> <!-- Reemplaza "tu-archivo-de-estilos.css" con la ruta a tu archivo CSS -->

    <title>Cargar Datos</title>
</head>
<body>
    <h1>Formulario para Cargar Datos</h1>
    <div class="formulario">
        <form action="" method=""> <!-- Asegúrate de especificar la URL correcta en el atributo "action" para procesar los datos -->
            <label for="numeroSerie">Número de Serie (PK):</label>
            <input type="text" placeholder="Ingrese el ID" id="numeroSerie" name="numeroSerie" required><br><br>

            <label for="nombre">Nombre:</label>
            <input type="text" placeholder="Ingrese la marca y modelo" id="nombre" name="nombre" required><br><br>

            <label for="descripcion">Modelo:</label>
            <input id="descripcion" placeholder="Ingrese el modelo" name="descripcion" required><br><br>

            <label for="categoria">Categoría:</label>
            <select name="proveedor">
                <option value="">Seleccionar el tipo</option>
                <option value="Proveedor 1">Transporte</option>
                <option value="Proveedor 2">Maquinaria pesada</option>
            </select>
            <br><br>

            <label for="especificaciones">Especificaciones Técnicas:</label><br>
            <textarea id="especificaciones" name="especificaciones" required></textarea><br><br>

            <input type="submit" value="Guardar Datos">
        </form>
    </div>
    <div class="tablita">
        <table>
            <tr>
               <th>caracter</th>
               <th>skill</th>
               <th>info</th>
            </tr>
            <tr>
                <td>piper</td>
                <td>someskill</td>
                <td>someinfo</td>           
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
            <tr>
                <td>juan</td>
                <td>otherskill</td>
                <td>otherinfo</td>
            </tr>
        </table> 
    </div>
</body>
</html>
