<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <section class="layout">
        <div class="agregar"><img src="iconos2/iconizer-user-add.svg" height="20px"width="20px"><br>agregar proveedor(qolo)</div>

        <div class="agregar"><img src="iconos2/iconizer-llave-fija.svg" height="20px"width="20px"><br>agregar repuesto(luki)</div>

        <div class="buscar"><img src="iconos2/iconizer-trash.svg" height="20px"width="20px"><br>repuesto utilizado</div>

        <div class="agregar"><img src="iconos2/iconizer-user-add.svg" height="20px"width="20px"><br>agregar camion</div>

        <div class="agregar"><img src="iconos2/iconizer-excabadora.svg" height="20px"width="20px"><br>agregar maquinaria(luki)</div>

        <div class="buscar"><img src="iconos2/iconizer-lupa.svg" height="20px"width="20px"><br>buscar repuesto(qolo)</div>

        <div class="agregar"><img src="iconos2/iconizer-almacen-2d.svg " height="20px"width="20px"><br>agregar almacen</div>

        <section class="eliminar">
            <div class="seccion"> 
              <img src="iconos2/iconizer-cruz.svg" alt="" height="20px" width="20px"><p> eliminar repuesto</p>
            </div>
            <div class="seccion"> 
                <img src="iconos2/iconizer-cruz.svg" alt="" height="20px" width="20px"><p> eliminar maquinaria</p>
            </div>
            <div class="seccion"> 
                <img src="iconos2/iconizer-cruz.svg" alt="" height="20px" width="20px"><p> eliminar proveedor</p>
            </div>
        </section>
        <div class="buscar"><img src="iconos2/iconizer-lupa.svg" height="20px"width="20px"><img src="iconos2/iconizer-camion-2d.svg" height="20px"width="20px"><img src="iconos2/iconizer-excabadora.svg" height="20px"width="20px"><br>buscar maquinaria</div>
    </section>
    
</body>
</html>