<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <section class="layout">
        <a href=""><div class="agregar">camion con mas repuestos utilizados</div></a>

        <a href="#"><div class="agregar">camion con menos repuestos utilizados</div></a>

        <a href="#"><div class="agregar">maquina con mas repuestos utilizados</div></a>

        <a href="#"><div class="agregar">maquina con menos repuestos utilizados</div></a>

        <a href="#"><div class="agregar">proveedor mas solicitado</div></a>

        <a href="#"><div class="agregar">proveedor menos solicitado</div></a>

        <a href="#"><div class="agregar">camion con mas repuestos utilizados</div></a>

        <a href="#"><div class="agregar">seccion de almacen con mas repuestos</div></a>
        
        <a href="#"><div class="agregar">seccion de almacen con menos repuestos</div></a>
    </section>
</body>
</html>