<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Ingreso</title>
</head>
<body>
    <div class="divisit">
        <form action="">
            <input type="text" placeholder="ingrese su usuario" class="ingreso">
            <br>
            <input type="password" placeholder="ingrese su contraseña" class="ingreso">
            <br>
            <a href="pantallaprincipal.html" class="boton">ingresar</a>
        </form>
    </div>
</body>
</html>